In [1]:
import pandas as pd

# URLs for the datasets
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

# Load datasets
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

# Combine datasets
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

# Display the combined dataset structure
print(f"Combined dataset shape: {combined_df.shape}")

Combined dataset shape: (12074, 13)

In [2]:
# Standardize column names
combined_df.columns = combined_df.columns.str.lower().str.replace(" ", "_").str.replace("st", "state")

# Standardize values in specific columns
# Gender
combined_df['gender'] = combined_df['gender'].str.strip().str.upper().replace({'FEMAL': 'F', 'FEMALE': 'F', 'MALE': 'M'})

# State abbreviations
state_map = {'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}
combined_df['state'] = combined_df['state'].replace(state_map)

# Education
combined_df['education'] = combined_df['education'].replace({'Bachelors': 'Bachelor'})

# Customer Lifetime Value
combined_df['customer_lifetime_value'] = combined_df['customer_lifetime_value'].str.replace('%', '').astype(float)

# Vehicle Class
luxury_categories = ['Sports Car', 'Luxury SUV', 'Luxury Car']
combined_df['vehicle_class'] = combined_df['vehicle_class'].replace(luxury_categories, 'Luxury')

# Handle null values (fill numeric columns with mean, categorical with mode)
for column in combined_df.columns:
    if combined_df[column].dtype == 'object':
        combined_df[column].fillna(combined_df[column].mode()[0], inplace=True)
    else:
        combined_df[column].fillna(combined_df[column].mean(), inplace=True)

# Drop duplicates and reset index
combined_df = combined_df.drop_duplicates().reset_index(drop=True)

# Save cleaned combined dataset
combined_df.to_csv("cleaned_combined_data.csv", index=False)
print("Cleaned combined dataset saved as 'cleaned_combined_data.csv'")

AttributeError: 'DataFrame' object has no attribute 'str'

In [3]:
# Load the dataset
url_marketing = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
marketing_df = pd.read_csv(url_marketing)

# Display dataset structure
print(f"Marketing dataset shape: {marketing_df.shape}")
print(marketing_df.head())

Marketing dataset shape: (10910, 27)
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

In [4]:
# Create a pivot table for total revenue by sales channel
revenue_by_channel = marketing_df.pivot_table(
    index='sales_channel',
    values='total_claim_amount',
    aggfunc='sum'
).round(2)

# Display and analyze the table
print("Total Revenue by Sales Channel:")
print(revenue_by_channel)

# Insights:
# - Identify which sales channel generates the most revenue.
# - Focus marketing strategies on the top-performing sales channel.

Total Revenue by Sales Channel:
               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [5]:
# Create a pivot table for average customer lifetime value by gender and education level
clv_by_gender_education = marketing_df.pivot_table(
    index='gender',
    columns='education',
    values='customer_lifetime_value',
    aggfunc='mean'
).round(2)

# Display and analyze the table
print("Average Customer Lifetime Value by Gender and Education:")
print(clv_by_gender_education)

# Insights:
# - Determine if there is a significant difference in CLV based on gender or education.
# - Tailor marketing efforts toward high-CLV segments.

Average Customer Lifetime Value by Gender and Education:
education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83